%p
  = t("devise.mailer.reset_password_instructions.hello", email: @resource.email)
%p
  = t("devise.mailer.reset_password_instructions.instructions")
%p
  = t("devise.mailer.reset_password_instructions.token", token: @token)
%p
  = t("devise.mailer.reset_password_instructions.ignore")
